<h1>About karp</h1>
<p>karp (TM) is an anonymous texting service for outgoing texts only. Use it to prank your friends, share a daily thought with a group of blog subscribers, frighten your siblings, and other practical purposes.</p>
<p>We will not store any phone numbers, message content, or any other information you may provide while using this service.</p>
<p>karp is completely free. :)</p>
