<div class='center'>
	<h1>contact us</h1>
	<br />

	<h2>
		<p>Have an idea for a feature? Is something broken? Wanna give props for a sweet app?</p>
	</h2>

	<%= link_to "Send us a message", '#', class: "btn btn-large btn-primary" %>
</div>