<div class='center hero-unit'>
	<%= bootstrap_form_tag url: '/send' do |f| %>
  	<%= f.phone_field :phone, hide_label: :true, placeholder: "something like '888-555-1234'" %>
  	<%= f.text_area :message, hide_label: :true, placeholder: "What d'ya wanna say?" %>
  	<%= f.submit 'Send', class: "btn btn-large btn-primary" %>
	<% end %>
</div>