<footer class="footer">
  <small>
    karp (TM)
    by Michael Hargiss
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.github.com/mycargus/karp">github</a></li>
    </ul>
  </nav>
</footer>